<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-3">Meetings</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Datetime</th>
            <th>Size</th>
            <th>Purpose</th>
            <th>Place</th>
          </tr>
        </thead>
        <tbody>
          <% @meetings.each do |meeting| %>
          <tr>
            <td style="cursor: pointer;">
              <a href="/meetings/<%= meeting.id %>"><%= meeting.id %></a>
            </td>
            <td><%= meeting.datetime %></td>
            <td><%= meeting.size %></td>
            <td><%= meeting.purpose %></td>
            <td><%= meeting.place %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if user_signed_in? == true %>
  <a class="nav-link" href="/users/sign_out" style="text-align: center;">

  Sign Out</a>
  
  <% end %>

</div>