
<div class="container">




 <div class="row">


   <div class="col-12">


     <h3 class="mt-3">Meetings</h3>


     <br>


     <table class="table">


       <thead>


         <tr>


           <th>#</th>


           <th>Date</th>


           <th>Time</th>


           <th>Size</th>


           <th>Purpose</th>


           <th>Place</th>


         </tr>


       </thead>


       <tbody>


         <% @meetings.each do |meeting| %>


           <tr>


             <td><%= meeting.id %></td>


             <td style="cursor: pointer;">


               <a href="/meetings/<%= meeting.id %>"><%= meeting.date %></a>


             </td>


             <td><%= meeting.time %></td>


             <td><%= meeting.size %></td>


             <td><%= meeting.purpose %></td>


             <td><%= meeting.place %></td>


           </tr>


         <% end %>


       </tbody>


     </table>


   </div>


 </div>


</div>

